@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelify {
  font-family: var(--font-pixelify-sans);
}

html {
  scroll-behavior: smooth;
}

.custom-wallet-button {
  background-color: #fbbf24;
  border-radius: 9999px;
  font-family: var(--font-pixelify-sans);
  color: black;
  font-size: 1.25rem;
  transition: background-color 0.3s ease-in-out;
}

.custom-wallet-button:hover {
  background-color: #f59e0b;
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
